name: Keepalive Workflow

on:
  schedule:
    # 每 50 天运行一次 (避开 60 天限制)
    - cron: '0 0 */50 * *'
  workflow_dispatch:

jobs:
  cronjob-based-github-action:
    name: Keepalive Workflow
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gautamkrishnar/keepalive-workflow@v2
